<a href="https://colab.research.google.com/github/bachi-mohamed-rafik/ML_Project/blob/main/Glass_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
import numpy as np

# import dataset

In [59]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data")
print(data.head())

   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.00.1  1.1
0  2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0.0    0.00    1
1  3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0.0    0.00    1
2  4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   0.0    0.00    1
3  5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0.0    0.00    1
4  6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0.0    0.26    1

In [60]:
print(data.columns)
data.set_index('1')
data.pop('1')
data.columns = ['RI',
'Na',
'Mg',
'Al',
'Si',
'K',
'Ca',
'Ba',
'Fe',
'Type']

print(data)

Index(['1', '1.52101', '13.64', '4.49', '1.10', '71.78', '0.06', '8.75',
       '0.00', '0.00.1', '1.1'],
      dtype='object')
          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe  Type
0    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00     1
1    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00     1
2    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00     1
3    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00     1
4    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26     1
..       ...    ...   ...   ...    ...   ...   ...   ...   ...   ...
208  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00     7
209  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00     7
210  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00     7
211  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00     7
212  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00     7

[213 rows x 10 columns]

In [74]:
# split data
x = data[['RI',
'Na',
'Mg',
'Al',
'Si',
'K',
'Ca',
'Ba',
'Fe']]
print(x)

y = data[['Type']]
print(y)

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe
0    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.00
1    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.00
2    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.00
3    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.00
4    1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.00  0.26
..       ...    ...   ...   ...    ...   ...   ...   ...   ...
208  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.00
209  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.00
210  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.00
211  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.00
212  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.00

[213 rows x 9 columns]
     Type
0       1
1       1
2       1
3       1
4       1
..    ...
208     7
209     7
210     7
211     7
212     7

[213 rows x 1 columns]

#2 CREATE GAUSSIEN NAIVE BAYES CLASSIFIER

In [83]:
#import Gaussien Naive BAyes model
from sklearn.naive_bayes import GaussianNB
#Create a gaussien Classifier
model=GaussianNB()

# 3\Train the model

In [80]:
#import train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
62   1.52227  14.17  3.81  0.78  71.35  0.00   9.69  0.00  0.00
125  1.51667  12.94  3.61  1.26  72.75  0.56   8.60  0.00  0.00
136  1.51711  12.89  3.62  1.57  72.96  0.61   8.11  0.00  0.00
164  1.52171  11.56  1.88  1.56  72.86  0.47  11.41  0.00  0.00
170  1.51316  13.02  0.00  3.04  70.48  6.21   6.96  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
201  1.51514  14.85  0.00  2.42  73.72  0.00   8.39  0.56  0.00
7    1.51918  14.04  3.58  1.37  72.08  0.56   8.30  0.00  0.00
39   1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.00  0.00
48   1.51898  13.58  3.35  1.23  72.08  0.59   8.91  0.00  0.00
12   1.51748  12.86  3.56  1.27  73.21  0.54   8.38  0.00  0.17

[149 rows x 9 columns]
          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
126  1.52081  13.78  2.28  1.43  71.99  0.49   9.85  0.00  0.17
181  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00
63   1.52172  13.48  3.74  0.90  72.01  0.18   9.61  0.00  0.07
20   1.51966  14.77  3.75  0.29  72.02  0.03   9.00  0.00  0.00
103  1.52410  13.83  2.90  1.17  71.15  0.08  10.79  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
99   1.51655  12.75  2.85  1.44  73.27  0.57   8.79  0.11  0.22
135  1.51806  13.00  3.80  1.08  73.07  0.56   8.38  0.00  0.12
156  1.52121  14.03  3.76  0.58  71.79  0.11   9.65  0.00  0.00
158  1.51796  13.50  3.36  1.63  71.94  0.57   8.81  0.00  0.09
52   1.51837  13.14  2.84  1.28  72.85  0.55   9.07  0.00  0.00

[64 rows x 9 columns]
     Type
62      1
125     2
136     2
164     5
170     5
..    ...
201     7
7       1
39      1
48      1
12      1

[149 rows x 1 columns]
     Type
126     2
181     6
63      1
20      1
103     2
..    ...
99      2
135     2
156     3
158     3
52      1

[64 rows x 1 columns]

#4\ Fit the model

In [86]:
#train the modal using the training sets
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

#5\ Make prediction

In [96]:
#Predict Model
pre=model.predict(x_test)
print(pre)
print(type(x_test))
print(x_test)

[2 6 1 3 2 1 1 2 7 1 1 2 1 5 5 2 1 7 1 1 1 2 2 1 2 1 5 1 1 1 1 1 1 1 1 1 7
 1 1 1 2 3 7 6 7 1 1 7 1 1 7 1 1 1 3 3 1 1 1 2 1 1 1 1]
<class 'pandas.core.frame.DataFrame'>
          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
126  1.52081  13.78  2.28  1.43  71.99  0.49   9.85  0.00  0.17
181  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00
63   1.52172  13.48  3.74  0.90  72.01  0.18   9.61  0.00  0.07
20   1.51966  14.77  3.75  0.29  72.02  0.03   9.00  0.00  0.00
103  1.52410  13.83  2.90  1.17  71.15  0.08  10.79  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
99   1.51655  12.75  2.85  1.44  73.27  0.57   8.79  0.11  0.22
135  1.51806  13.00  3.80  1.08  73.07  0.56   8.38  0.00  0.12
156  1.52121  14.03  3.76  0.58  71.79  0.11   9.65  0.00  0.00
158  1.51796  13.50  3.36  1.63  71.94  0.57   8.81  0.00  0.09
52   1.51837  13.14  2.84  1.28  72.85  0.55   9.07  0.00  0.00

[64 rows x 9 columns]

#Performance of model

In [93]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test,pre)
print(MSE)

1.875

#Prediction

In [101]:
lst = [['1.52101', '13.64', '4.49', '1.10', '71.78', '0.06', '8.75',
       '0.00', '0.1']] 
  
# Calling DataFrame constructor on list 
df = pd.DataFrame(lst) 
print(type(df))


pre=model.predict(df)
print(pre)

<class 'pandas.core.frame.DataFrame'>
[2]